<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--配置目标对象（原有功能的对象）-->
    <bean id="orderService" class="com.ynnz.old2.service.OrderService"/>
    <!--配置通知对象（新功能的对象）-->
    <bean id="orderAdvice" class="com.ynnz.old2.advice.OrderAdvice"/>
    <!--AOP配置-->
    <aop:config>
        <!--配置切入点-->
        <!--第一个*代表返回值类型void，第二个*表示类，第三个*表示方法名-->
        <aop:pointcut id="pointCut" expression="execution(* com.ynnz.service.*Service.*(..))"/>
        <!--配置通知-->
        <aop:aspect ref="orderAdvice">
            <!--before 之前-->
            <!--前置通知-->
            <aop:before method="before" pointcut-ref="pointCut"/>
            <!--<aop:after method="closeOrder" pointcut-ref="pointCut"/>-->
            <!--后置通知-->
            <aop:around method="closeOrder" pointcut-ref="pointCut"/>
        </aop:aspect>

    </aop:config>
</beans>