<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--bean-->
    <bean id="orderService" class="com.ynnz.service.OrderService"></bean>
    <bean id="transactionAdvice" class="com.ynnz.advice.TransactionAdvice"></bean>
    <!--配置切入点-->
    <aop:config>
        <aop:pointcut expression="execution(* com.ynnz.advice.*Service.*(..))" id="pointCut"/>
        <aop:aspect ref="transactionAdvice">
            <!--环绕通知-->
            <aop:around method="around" pointcut-ref="pointCut"/>
            <!--最终通知-->
            <aop:after method="after" pointcut-ref="pointCut"/>
        </aop:aspect>
    </aop:config>
</beans>